<div class="header-centralized">
  <h1>Esta página não está disponível,</h1>
  <p>
    O caminho/link que você acessou pode estar quebrado ou ainda estamos construindo a página/feature <strong>Soon™.</strong>
  </p>
  <p>Keep Calm and Enjoy our Discord.</p>
  <div class="container-horizontal">
    <a href="https://discord.me/he4rt"><img src="/assets/heart-logo.png" width="215"></a>
    <p class="texto-horizontal"><span>Let's talk...</span>
      <span>Let's code...</span>
      <span><strong>Let's He4rt!</strong></span></p>
  </div>
</div>
