<section class="notFoundPage">
  <aside class="notFoundPage-aside"></aside>
  <main class="notFoundPage-main">
    <img class="main-img" src="../../../assets/images/heart-logo.png">
    <h1 class="main-h1">Parece que você se perdeu</h1>
    <h2 class="main-h2">:(</h2>
    <p class="main-p">Esta página não está disponível</p>
    <shared-button buttonstyle="button-primary" buttontext="Home" (click)="click()"></shared-button>
    <p class="main-copyright">Desenvolvido com 💜 por He4rt Devs</p>
  </main>
</section>