.inputbox {
    position: relative;
}
.input {
    border: 1px solid #f1f1f1;
    width: 300px;
    text-indent: 10px;
    border-radius: 2px;
    padding: 15px 20px;
    outline: none;
    margin: 10px 0px;
    background-color: #f1f1f1;
}
.icon {
    position: absolute;
    top: 25px;
    left: 15px;
    font-size: 15px;
}
.input-with-icon {
    text-indent: 20px;
}