<div class="login">
  <aside class="login-aside">
  </aside>
  <main class="login-main">
    <img class="main-img" src="../../../assets/heart-logo.png">
    <h1 class="main-h1">
      Heart Learning Platform
    </h1>
    <input class="main-input" type="text" [(ngModel)]="username" placeholder="Usuário" appOpacityOnHover>
    <input class="main-input" type="password" [(ngModel)]="password" placeholder="Senha" appOpacityOnHover>
    <app-button-component buttonstyle="button-primary" buttontext="Entrar" (Click)="onLogin($event)" appOpacityOnHover opacity="60%">
    </app-button-component>
    <p class="main-forgotpassword">Esqueceu a senha?</p>
    <p class="main-copyright">Desenvolvido com 💜 por He4rt Devs</p>
  </main>
</div>