<div class="login">
  <aside class="login-aside">
  </aside>
  <main class="login-main">
    <img class="main-img" src="../../../assets/heart-logo.png">
    <h1 class="main-h1">
      Heart Learning Platform
    </h1>

    <input-component iconName="faUser" type="text" placeholder="Usuário"></input-component>
    <input-component iconName="faKey" type="password" placeholder="Senha"></input-component>
    <button-component buttonstyle="button-primary" buttontext="Entrar" (onClick)="onLogin($event)">
    </button-component>
    <p class="main-forgotpassword">Esqueceu a senha?</p>
    <p class="main-copyright">Desenvolvido com 💜 por He4rt Devs</p>
  </main>
</div>