<div class="login">
  <aside class="login-aside">
  </aside>
  <main class="login-main">
    <img class="main-img" src="../../../assets/heart-logo.png">
    <h1 class="main-h1">
      Heart Learning Platform
    </h1>
    <shared-input iconName="faUser" type="text" placeholder="Usuário" appOpacityOnHover></shared-input>
    <shared-input iconName="faKey" type="password" placeholder="Senha" appOpacityOnHover></shared-input>
    <shared-button buttonstyle="button-primary" buttontext="Entrar" (click)="onLogin($event)">
    </shared-button>
    <p class="main-forgotpassword">Esqueceu a senha?</p>
    <p class="main-copyright">Desenvolvido com 💜 por He4rt Devs</p>
  </main>
</div>